<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>Servletcc</servlet-name>
        <servlet-class>com.lishunan.gpm.HelloWorldController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servletcc</servlet-name>
        <url-pattern>/ddd</url-pattern>
    </servlet-mapping>
    
    <servlet>
            <servlet-name>LoginServlet</servlet-name>
            <servlet-class>com.lishunan.gpm.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CurrentUser</servlet-name>
        <servlet-class>com.lishunan.gpm.ReturnUserInfo</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CurrentUser</servlet-name>
        <url-pattern>/currentuser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGServlet</servlet-name>
        <url-pattern>/ktbg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGqueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <url-pattern>/ktbgquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.lishunan.gpm.ChangePasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwServlet</servlet-name>
        <url-pattern>/bylw.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgZhidaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgZhidaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgZhidaoListServlet</servlet-name>
        <url-pattern>/ktbgzhidaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgMangdaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgMangdaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgMangdaoListServlet</servlet-name>
        <url-pattern>/ktbgmangdaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwQueryServlet</servlet-name>
        <url-pattern>/bylwquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwZhidaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwZhidaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwZhidaoListServlet</servlet-name>
        <url-pattern>/bylwzhidaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwMangdaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwMangdaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwMangdaoListServlet</servlet-name>
        <url-pattern>/bylwmangdaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>QueryUserServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.QueryUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QueryUserServlet</servlet-name>
        <url-pattern>/queryUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPwdServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.ResetPwdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetPwdServlet</servlet-name>
        <url-pattern>/resetPwd.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDaoshiServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.AddDaoshiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDaoshiServlet</servlet-name>
        <url-pattern>/addDaoshi.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMangdaoServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.AddMangdaoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddMangdaoServlet</servlet-name>
        <url-pattern>/addMangdao.do</url-pattern>
    </servlet-mapping>
</web-app>
