<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>Servletcc</servlet-name>
        <servlet-class>com.lishunan.gpm.HelloWorldController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servletcc</servlet-name>
        <url-pattern>/ddd</url-pattern>
    </servlet-mapping>
    
    <servlet>
            <servlet-name>LoginServlet</servlet-name>
            <servlet-class>com.lishunan.gpm.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CurrentUser</servlet-name>
        <servlet-class>com.lishunan.gpm.ReturnUserInfo</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CurrentUser</servlet-name>
        <url-pattern>/currentuser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGServlet</servlet-name>
        <url-pattern>/ktbg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGqueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <url-pattern>/ktbgquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.lishunan.gpm.ChangePasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwServlet</servlet-name>
        <url-pattern>/bylw.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgZhidaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgZhidaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgZhidaoListServlet</servlet-name>
        <url-pattern>/ktbgzhidaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgMangdaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgMangdaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgMangdaoListServlet</servlet-name>
        <url-pattern>/ktbgmangdaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwQueryServlet</servlet-name>
        <url-pattern>/bylwquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwZhidaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwZhidaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwZhidaoListServlet</servlet-name>
        <url-pattern>/bylwzhidaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwMangdaoListServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwMangdaoListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwMangdaoListServlet</servlet-name>
        <url-pattern>/bylwmangdaolist.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgZhidaoSubmitServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgZhidaoSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryUserServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.QueryUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>QueryUserServlet</servlet-name>
        <url-pattern>/queryUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPwdServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.ResetPwdServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResetPwdServlet</servlet-name>
        <url-pattern>/resetPwd.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDaoshiServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.AddDaoshiServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddDaoshiServlet</servlet-name>
        <url-pattern>/addDaoshi.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMangdaoServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.AddMangdaoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddMangdaoServlet</servlet-name>
        <url-pattern>/addMangdao.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>KtbgZhidaoSubmitServlet</servlet-name>
        <url-pattern>/ktbgzhidaosubmit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgZhidaoQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgZhidaoQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgZhidaoQueryServlet</servlet-name>
        <url-pattern>/ktbgzhidaoquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgMangdaoSubmitServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgMangdaoSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgMangdaoSubmitServlet</servlet-name>
        <url-pattern>/ktbgmangdaosubmit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgMangdaoQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgMangdaoQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgMangdaoQueryServlet</servlet-name>
        <url-pattern>/ktbgmangdaoquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwMangdaoQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwMangdaoQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwMangdaoQueryServlet</servlet-name>
        <url-pattern>/bylwmangdaoquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwZhidaoQueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwZhidaoQueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwZhidaoQueryServlet</servlet-name>
        <url-pattern>/bylwzhidaoquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwMangdaoSubmitServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwMangdaoSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwMangdaoSubmitServlet</servlet-name>
        <url-pattern>/bylwmangdaosubmit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwZhidaoSubmitServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwZhidaoSubmitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwZhidaoSubmitServlet</servlet-name>
        <url-pattern>/bylwzhidaosubmit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.AddUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/addUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.UpdateUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/updateUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteUser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgUploadServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgUploadServlet</servlet-name>
        <url-pattern>/ktbgupload.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KtbgDownloadServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KtbgDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KtbgDownloadServlet</servlet-name>
        <url-pattern>/ktbgdownload.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwUploadServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwUploadServlet</servlet-name>
        <url-pattern>/bylwupload.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwDownloadServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwDownloadServlet</servlet-name>
        <url-pattern>/bylwdownload.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.ForgetPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgetPassword.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindPasswordServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.FindPasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FindPasswordServlet</servlet-name>
        <url-pattern>/findPassword.do</url-pattern>
    </servlet-mapping>
</web-app>
