<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>Servletcc</servlet-name>
        <servlet-class>com.lishunan.gpm.HelloWorldController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servletcc</servlet-name>
        <url-pattern>/ddd</url-pattern>
    </servlet-mapping>
    
    <servlet>
            <servlet-name>LoginServlet</servlet-name>
            <servlet-class>com.lishunan.gpm.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CurrentUser</servlet-name>
        <servlet-class>com.lishunan.gpm.ReturnUserInfo</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>CurrentUser</servlet-name>
        <url-pattern>/currentuser.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGServlet</servlet-name>
        <url-pattern>/ktbg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.KTBGqueryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>KTBGqueryServlet</servlet-name>
        <url-pattern>/ktbgquery.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.lishunan.gpm.ChangePasswordServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BylwServlet</servlet-name>
        <servlet-class>com.lishunan.gpm.BylwServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BylwServlet</servlet-name>
        <url-pattern>/bylw.do</url-pattern>
    </servlet-mapping>


</web-app>
